body {
    font-family: 'Monaco';
    font-size: 11px;
}

.keyContainer {
    display: none;
    height: 100px;
    background-color: #eee;
}

.drawArea {
    background-color: #F5F5F5;
}

.centered {
    width: 600px;
    margin: 0px auto;
}

.grayBorder {
    border: 1px solid gray;
}

.login-dialog {
    position: absolute;
    z-index: 101;
    border: 1px solid black;
    border-radius: 15px;
    padding: 25px;
    background-color: white;
}
    .button-wrap{
        padding: 15px 4px 0px;
        text-align: center;
    }
    .play-button, .watch-button {
        display: inline-block;
    }
    .play-button:hover, .watch-button:hover {
        cursor: pointer;
        font-weight:bold;
    }
    .watch-button{
        padding-right: 10px;
    }
    .play-button{
        padding-left: 20px;
        border-left: 1px solid #999;
    }

.underlay {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #000000;
    opacity: 0.1;
}

.stats {

}
    .stats .players-wrap {
    }
        .stats .players-wrap .label {
            margin-left: 10px;
        }
        .stats .players-wrap .color {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0px 5px;
        }
